<header (mouseenter)="toggleVisibility()"
        (mouseleave)="toggleVisibility()"
        [class.active]="isActive">
  <nav>
    <a routerLink="" [class.current]="checkRouter('/')">Homepage</a>
    <a routerLink="/rent" [class.current]="checkRouter('/rent')">Rent</a>
    <a routerLink="/order" [class.current]="checkRouter('/order')">Order</a>
    <a routerLink="/register" [class.current]="checkRouter('/register')">Register</a>
    <a routerLink="/login" [class.current]="checkRouter('/login')">Login</a>
  </nav>
</header>
