header{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(#000, 0.6);
  height: 100%;
  position: absolute;
  width: 100%;
  max-width: 200px;
  -webkit-transform: translateX(-90%);
  -moz-transform: translateX(-90%);
  -ms-transform: translateX(-90%);
  -o-transform: translateX(-90%);
  transform: translateX(-90%);
  -webkit-transition: transform .2s;
  -moz-transition: transform .2s;
  -ms-transition: transform .2s;
  -o-transition: transform .2s;
  transition: transform .2s;

  &.active{
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }
}
nav{
  width: 100%;
  height: 100%;
  max-height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px 20px;

  a{
    color: #fff;
    text-decoration: none;
    align-self: flex-start;
    display: inline-block;
    padding: 5px 10px;
    text-transform: uppercase;
    border-radius: 6px;
    background-color: salmon;
    -webkit-transition: color .3s;
    -moz-transition: color .3s;
    -ms-transition: color .3s;
    -o-transition: color .3s;
    transition: color .3s;

    &.current{
      background-color: #0099e5;
    }
  }
}
