<div *ngIf="case == 'control'" [formGroup]="myForm" class="field">
  <input type="number" [formControlName]="prop.key" [placeholder]="prop.placeholder">
</div>
<div *ngIf="case == 'array'" [formGroup]="myForm" class="array-field field">
  <div *ngFor="let case of myForm.controls[prop.key].controls; let i = index" [formArrayName]="prop.key">
    <input type="number" formControlName="{{i}}" [placeholder]="prop.placeholder">
    <button *ngIf="i > 0" (click)="removeControl(prop.array, i)">Remove {{prop.label}}</button>
  </div>
</div>
