section{
  background-image: url(../../assets/images/rent.jpg);

  .container{
    padding-right: 0;
    padding-bottom: 0;
    .title{
      margin-bottom: 40px;
    }
    ul{
      display: flex;
      flex-direction: column;
      background-color: rgba(#fff, 0.9);
      height: 100%;
      max-height: 632px;
      overflow-y: auto;
      padding: 40px 20px 10px 20px;
      border-radius: 0 6px 6px 0;
      padding-bottom: 100px;
      width: 100%;
    }
  }
}

::-webkit-scrollbar {
  width: 10px;
  border-radius: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(#8db9ca, 0.9);
  border-radius: 0 6px 6px 0;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
