/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Arimo:400,700|Merriweather:400,700,900');
*{
  box-sizing: border-box;
}
html, body{
  height: 100%;
}
body{
  font-family: 'Arimo', sans-serif;
}
h1{
  font-size: 60px;
}
.title{
  color: #a3a3a3;
  font-size: 40px;
  user-select: none;
  font-weight: bold;
}
.main-wrapper{
  height: 100%;
}
section, main{
  height: 100vh;
  overflow-y: auto;
  -webkit-background-size: cover;
  background-size: cover;
}
.container{
  padding: 40px 20px 20px 20px;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  max-height: 100%;
}
ul{
  padding: 0;
  margin: 0;
}
li{
  list-style: none;
}

.form{
  &--register{
    .array-field{
      display: flex;
      flex-wrap: wrap;
    }
    .array-field div{
      width: 100%;
      display: flex;
    }
    input, select{
      width: 100%;
      font-size: 20px;
      padding: 5px 10px;
      outline: none;
      border: 2px solid #999;
      -webkit-transition: border-color .24s;
      -moz-transition: border-color .24s;
      -ms-transition: border-color .24s;
      -o-transition: border-color .24s;
      transition: border-color .24s;

      &:focus{
        border-color: #00a4e4;
      }

      &:hover{
        border-color: #00205b;
      }
    }
    select{
      cursor: pointer;
    }
    button{
      cursor: pointer;
      background-color: #000;
      color: #fff;
      padding: 5px 10px;
    }
    .field{
      margin-bottom: 20px;
    }

  }
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
